{% extends 'customer/signup.html' %}
{% load static %}
{% block title %}Forgot Password | Cognitix Consulting{% endblock  %}
{% block body %}
<p id="dangertext" style="text-align: center;"></p>
<section class="signup">
    <div class="signup-section">
        <div class="signup-flex-column signup-nav">
            <div id="loginSection">
                <h2 id="successmsg">Reset Password</h2>
                <h1><span>Cognitix</span> Consulting</h1>
                <p>Simple Reset</p>
                <label for="password">Current Password</label>
                <div class="signup-forms forgot-inputs">
                    <i class='bx bx-lock-alt'></i>
                    <input type="password" value="{{customer.password}}" readonly>
                    <i class="fa-regular fa-eye fa-eyem" onclick="toggleIcon(this)"></i>
                </div>
                <p>Read Only</p>
                <label for="password">New Password</label>
                <div class="signup-forms forgot-inputs">
                    <i class='bx bx-lock-alt'></i>
                    <input type="password" name="newpassword" id="newpassword{{customer.customer_id}}" placeholder="New Password">
                    <i class="fa-regular fa-eye fa-eyem" onclick="toggleIcon(this)"></i>

                </div>
                <label for="password">Confirm Password</label>
                <div class="signup-forms">
                    <i class='bx bx-lock-alt'></i>
                    <input type="password" name="confpassword" id="confpassword{{customer.customer_id}}" placeholder="Confirm Password">
                    <i class="fa-regular fa-eye fa-eyem" onclick="toggleIcon(this)"></i>
                </div>
          <p id="dangertext2"></p>

                <div class="signup-forms-button forgot-inputs">
                    <button onclick="ResetPassword('{{customer.customer_id}}')">Update Password</button>
                
                </div>
                <p><a href="/">Go Back</a></p>
            </div>
        </div>
    </div>
</section>
<script>
        function toggleIcon(iconElement) {
  let eye = $(iconElement);
  let passwordField = eye.prev("input");
  if (eye.hasClass('fa-eye')) {
    eye.removeClass('fa-eye').addClass("fa-eye-slash");
    passwordField.attr('type', 'text'); 
  } else {
    eye.removeClass('fa-eye-slash').addClass("fa-eye");
    passwordField.attr('type', 'password'); 
  }
}
    function ResetPassword(id){
        const password = $("#newpassword"+id).val();
        const confirm_password = $("#confpassword"+id).val();
        const passwordPattern = /^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        if (!passwordPattern.test(password)) {
            $("#dangertext").html("Password must contain at least one capital letter, one number, and one special character").css('color', '#dc3545');
            return;
        }
        else if (password !== confirm_password) {
            $("#dangertext2").html("Passwords do not match").css('color', '#dc3545');
            return;
    }
        $.ajax({
            type:"POST",
            url:"/update_password/",
            data:
            {   "id":id,
                "password":password,
                "confirm_password":confirm_password,
            },
            success:function(data){
                if(data){
                    alert("Password Reset Successful")
                    window.location.reload();
                }
                else{
                    alert('failed')
                }
            },
            error:function(xhr, status, error) { 
                if(error){
                    alert(error.message)
                }
             }
        })
    }
</script>
{% endblock %}