{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin- Manage Everything</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="admin-section">
      <div class="admin-left">
        <h1>Cognitix</h1>
        <ul>
          <li class="active2">
            <div class="admin-text-flex">
              <i class="bx bxs-dashboard"></i>
              <p onclick="navigate('admin')">Dashboard</p>
            </div>
          </li>
          <li id="course">
            <div class="admin-text-flex">
              <i class="bx bx-package"></i>
              <p onclick="toggleDropDown()">Courses</p>
            </div>
          </li>
          <div class="drop-down display-none" id="drop-down">
            <li>
              <div class="flex-horizontal" onclick="navigate('course')">
                <i class="bx bx-cog font-12px"></i> All Courses
              </div>
            </li>
          </div>
          <li id="course">
            <div class="admin-text-flex">
              <i class="bx bx-user-circle"></i>
              <p onclick="toggleDrop()">Trainers</p>
            </div>
          </li>
          <div class="drop-down display-none" id="dropDown">
            <li>
              <div class="flex-horizontal" onclick="navigate('trainer')">
                <i class="bx bx-cog font-12px"></i> All Trainers
              </div>
            </li>
          </div>
          <li>
            <div class="admin-text-flex">
              <i class="bx bx-shopping-bag"></i>
              <p>Orders</p>
            </div>
          </li>
          <li>
            <div class="admin-text-flex">
              <i class="bx bx-shopping-bag"></i>
              <p onclick="navigate('jobs')">Jobs</p>
            </div>
          </li>
          <li>
            <div class="admin-text-flex">
              <i class="bx bx-shopping-bag"></i>
              <p onclick="navigate('companies')">Companies</p>
            </div>
          </li>
          <li>
            <div class="admin-text-flex">
              <i class="bx bx-money-withdraw"></i>
              <p>Payments</p>
            </div>
          </li>
          <li>
            <div class="admin-text-flex">
              <i class="bx bx-transfer-alt"></i>
              <p>Transactions</p>
            </div>
          </li>
          <li>
            <div class="admin-text-flex">
              <i class="bx bx-user-plus"></i>
              <p onclick="navigate('customer')">Customers</p>
            </div>
          </li>
        </ul>
        <div class="categories">
          <h1>Categories</h1>
          <ul class="category">
            {% for category in categories %}
            <p>{{category.name}}</p>
            {% empty %}
            <p>No Categories Found</p>
            {% endfor %}
            <div class="add-category" onclick="addCategory()">
              <div class="icon-plus">
                <i class="bx bx-plus"></i>
              </div>
              <p>Add More</p>
            </div>
          </ul>
        </div>
      </div>

      <div class="admin-actions" id="admin-action" style="display: none">
        <ul id="admin-list">
          <li onclick="addTrainer()">Trainers</li>
          <li onclick="addCourses()">Courses</li>
          <li onclick="addCategory()">Categories</li>
        </ul>
      </div>
      <div class="admin-right">
        <div class="admin-nav">
          <div class="admin-search">
            <i class="bx bx-search"></i>
            <input
              type="search"
              name="search"
              id="search"
              placeholder="I'm Searching for"
            />
            <i class="bx bx-microphone"></i>
          </div>

          <div class="admin-basics">
            <div class="admin-add">
              <button id="btn-add">
                Add <i class="bx bx-chevron-down"></i>
              </button>
            </div>
            <div class="notification"><i class="bx bx-bell"></i></div>
            <div class="admin-img">
              <img src="{% static 'images/agile.jpg' %}" alt="" />
              <div class="admin-info">
                <h4>{{currentUsername}}</h4>
                <p>{{currentUserEmail}}</p>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
          </div>
        </div>
        {% block navbar-sidebar %}

        <div class="admin-main-content">
          <h1>Dashboard</h1>
          <p><i class="bx bx-home-alt-2"></i> Home > Dashboard</p>
          <div class="admin-flex-containers">
            <div class="flex-containers">
              <div class="flex-container">
                <p>Total sales</p>
                <i class="bx bx-dots-vertical-rounded"></i>
              </div>
              <div class="flex-container">
                <div class="price-icon">
                  <span>
                    <i class="bx bx-trending-up"></i>
                  </span>
                  <p>25,000</p>
                </div>
                <p class="text">&UpArrow; 25.8%</p>
              </div>
              <div class="compare-text">
                <p>Compared to Feb2024</p>
              </div>
            </div>
            <div class="flex-containers">
              <div class="flex-container">
                <p>Orders Value</p>
                <i class="bx bx-dots-vertical-rounded"></i>
              </div>
              <div class="flex-container">
                <div class="price-icon">
                  <span>
                    <i class="bx bx-trending-up"></i>
                  </span>
                  <p>25,000</p>
                </div>
                <p class="text">&UpArrow; 25.8%</p>
              </div>
              <div class="compare-text">
                <p>Compared to Feb2024</p>
              </div>
            </div>
            <div class="flex-containers">
              <div class="flex-container">
                <p>Daily Customers</p>
                <i class="bx bx-dots-vertical-rounded"></i>
              </div>
              <div class="flex-container">
                <div class="price-icon">
                  <span>
                    <i class="bx bx-trending-up"></i>
                  </span>
                  <p>25,000</p>
                </div>
                <p class="text">&UpArrow; 25.8%</p>
              </div>
              <div class="compare-text">
                <p>Compared to Feb2024</p>
              </div>
            </div>
            <div class="flex-containers">
              <div class="flex-container">
                <p>Daily Orders</p>
                <i class="bx bx-dots-vertical-rounded"></i>
              </div>
              <div class="flex-container">
                <div class="price-icon">
                  <span>
                    <i class="bx bx-trending-up"></i>
                  </span>
                  <p>25,000</p>
                </div>
                <p class="text">&UpArrow; 25.8%</p>
              </div>
              <div class="compare-text">
                <p>Compared to Feb2024</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock navbar-sidebar %}

    <script>
      const addCategory = () => {
        window.location.href = "/categories";
      };
      const addTrainer = () => {
        window.location.href = "/trainer_view";
      };
      const addCourses = () => {
        window.location.href = "/add_courses";
      };
      $(document).ready(function () {
        $("#btn-add").click(function (event) {
          event.stopPropagation(); //used to prevent clicks over elements except window click
          $("#admin-action").toggle();
        });

        $("#admin-action").click(function (event) {
          event.stopPropagation();
        });

        // Hide admin-action when clicking anywhere else on the window
        $(window).click(function () {
          $("#admin-action").hide();
        });
      });
      function toggleDropDown() {
        $("#drop-down").toggle("display-none");
        $("#dropDown").hide();
      }
      function toggleDrop() {
        $("#drop-down").hide();
        $("#dropDown").toggle("display-none");
      }
      function navigate(page) {
        if (page == "course") {
          window.location.href = "/view-courses";
        } else if (page == "trainer") {
          window.location.href = "/view-trainers";
        }
        else if(page == 'admin'){
          window.location.href = "/admin_dashboard/";
        }
        else if(page == 'jobs'){
          window.location.href = "/view_all_jobs/";
        }
        else if(page == 'companies'){
          window.location.href = "/view_all_companies/";
        }
        else if(page == 'customer'){
          window.location.href = "/view_all_customers/";
        }
      }
    </script>
  </body>
</html>
