
{% extends 'adminuse/admin.html' %}
{% block navbar-sidebar %}
{% load static %}
<style>
    .add-trainer-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    .trainer-form-div{
       width: 500px;
       box-shadow: 0px 2px 2px 2px silver;
       border-radius: 10px;
       background: #ffff;
       padding: 50px;
    }
    .trainer-form1{
        display: flex;
        align-items: center;
        gap: 10px;

    }
    .trainer-forms label{
        font-size: 15px;
        font-weight: 500;
    }
    .trainer-forms input{
        padding: 10px 40px;
        border: none;
        outline: none;
        box-shadow: 0px 1px 1px 1px silver;
        border: 1px solid silver;
        opacity: 0.5;
        cursor: pointer;
        border-radius: 10px;
        margin: 10px 0;

    }
    #tdate{
        padding:10px 58px;
    }
    .trainer-forms  #tname:hover{
        border: 1px solid #dc3545;
        transition: all 0.3s ease-in;
    }
    .trainer-forms  #texperience:hover{
        border: 1px solid #dc3545;
        transition: all 0.3s ease-in;
    }
    .trainer-forms  #tbio:hover{
        border: 1px solid #dc3545;
        transition: all 0.3s ease-in;
    }
    .trainer-forms  #tdate:hover{
        border: 1px solid #dc3545;
        transition: all 0.3s ease-in;
    }
    .trainer-forms  .texpertise:hover{
        border: 1px solid #dc3545;
        transition: all 0.3s ease-in;
    }
    .trainer-forms  #temail:hover{
        border: 1px solid #dc3545;
        transition: all 0.3s ease-in;
    }
    .trainer-forms  #tphone:hover{
        border: 1px solid #dc3545;
        transition: all 0.3s ease-in;
    }
    .trainer-forms  #taddress:hover{
        border: 1px solid #dc3545;
        transition: all 0.3s ease-in;
    }
    .trainer-forms  #timg:hover{
        border: 1px solid #dc3545;
        transition: all 0.3s ease-in;
    }
    .trainer-forms  #tdesc:hover{
        border: 1px solid #dc3545;
        transition: all 0.3s ease-in;
    }
    #trainer-1 h1{
        font-size: 25px;
        margin: 10px 0;
        font-weight: 400;
    }
    #trainer-2 h1{
        font-size: 25px;
        margin: 10px 0;
        font-weight: 400;
    }
    .trainer-forms label span {
        font-size: 18px;
        color: #dc3545;
    }
    .trainer-forms-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }
    .button-primary{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
    .button-primary button{
        border: none;
        font-size: 18px;
    }
    .button-primary:nth-child(1){
        box-shadow: 0px 1px 1px 1px silver;
        border-radius: 13px;
        border: 1px solid silver;
        width: 20%;
        color: black;
    }

    .button-primary i{
        font-size: 18px;
    }
    #next-btn-trainer{
        background: #000;
        color: white;
        border: 1px solid black;
        border-radius: 10px;
        
        width: 20%;
    }
    #next-btn-trainer button{
        padding: 10px 14px;
        background: #000;
        color: white;
        border: 1px solid black;
        border-radius: 10px;
    }
    #next-btn-trainer i{
        margin: 5px;
    }
    .bg-light{
        color: #555;
        margin: 5px 0;
        font-weight: 600;
    }
    #add-expertise{
        width: fit-content;
        border-radius: 3px;
        cursor: pointer;
    }
    #add-expertise:hover{
        color: #555;
        transition: all 0.3s ease-in;
    }
    #trainer-column{
        display: flex;
        flex-direction: column;
    }
</style>

<body>

    <div class="add-trainer-section">
<div class="trainer-form-div">
<div class="trainer-form" id="trainer-1" >
    <h1>Let's Start with Trainer Details</h1>
    <p class="bg-light">Please Fill the details below</p>
        <div class="trainer-form1">
            <div class="trainer-forms">
                {% for user in customers %}
                <input type="hidden" name="" id="user_id" value="{{user.customer_id}}">
                {% endfor %}
                <label for="">Trainer Name <span>*</span></label>
                <input type="text" placeholder="John" id="tname">
            </div>
        
            <div class="trainer-forms">
                <label for="">Trainer Experience <span>*</span></label>
                <input type="text" placeholder="eg: 10y of Experience in Software Development" id="texperience">
            </div>
          
        </div>
<div class="trainer-form1" >
    <div class="trainer-forms">
        <label for="">Trainer Bio <span>*</span></label>
        <input type="text" placeholder="Trainer Bio" id="tbio">
    </div>
    <div class="trainer-forms">
        <label for="">Trainer Description <span>*</span></label>
        <input type="text" placeholder="Trainer Desc" id="tdesc">
    </div>
</div>
<div class="trainer-forms">
    <label for="">Expertise of Trainer <span>*</span></label>
    <div id="expertise-container">
        <input type="text" placeholder="Expertise of Trainer" class="texpertise">
    </div>
    <p id="add-expertise">Add More +</p>
</div>

<div class="trainer-forms-button ">
    <div class="button-primary" style="visibility: hidden;">
        <i class='bx bx-left-arrow-alt'></i>
        <button onclick="goBack()">Back </button>
    </div>
    <div class="button-primary" id="next-btn-trainer">
        <button onclick="openTrainer2()">Next</button>
        <i class='bx bx-right-arrow-alt'></i>
    </div>
</div>
</div>

<div class="trainer-form"  id="trainer-2" style="display: none;">
    <h1 id="message">You'are Almost There</h1>
    <p class="bg-light">Please Fill fields below</p>
<div class="trainer-forms" style="display: flex;flex-direction: column;">
    <label for="">Specialization of Trainer <span>*</span></label>
    <input type="text" placeholder="eg: Cloud Computing Trainer" id="tspec">
</div>
 <div class="trainer-form1" id="trainer-column">
    <div class="trainer-forms">
        <label for="">Trainer Profile Photo <span>*</span></label>
        <input type="file" placeholder="Trainer Address" id="timg">
    </div>
</div>
        <div class="trainer-forms-button">
            <div class="button-primary">
                <i class='bx bx-left-arrow-alt'></i>
                <button onclick="goBack()">Back </button>
            </div>
            <div class="button-primary" id="next-btn-trainer">
                <button onclick="addtrainer ()">Add </button>
                <i class='bx bx-plus' ></i>
            </div>
        </div>
</div>
</div>

</div>
    </div>
    <script src="{% static 'javascript/index.js' %}"></script>
    <script>
        
    </script>
    <script>
        function openTrainer2() { 
        const tname = $("#tname").val();
        const texperience = $("#texperience").val();
        const tbio = $("#tbio").val();
        const tdesc = $("#tdesc").val();
        const texpertise = $(".texpertise").val();
        if(!tname){
            $("#tname").css('border-color','red')
            return;
        }
        else if(!texperience){
            $("#texperience").css('border-color','red')
            return;
        }
       else if(!tbio){
            $("#tbio").css('border-color','red')
            return;
        }
       else if(!tdesc){
            $("#tdesc").css('border-color','red')
            return;
        }
       else if(!texpertise){
            $(".texpertise").css('border-color','red')
            return;
        }
       
        $('#trainer-1').hide()
        $('#trainer-2').show()
 }
 function goBack() { 
    $('#trainer-1').show()
    $('#trainer-2').hide()
  }
    </script>
    {% endblock navbar-sidebar %}

    
</body>
</html>

